.CoursesPage {
	.Courses {
		@apply py-4;

		.container {
			.section_header {
				h2 {
					@apply text-2xl;
				}
			}

			.specializations_list,
			.topics_list {
				@apply mt-8 space-y-2 list-decimal;

				li {
					a {
						@apply font-semibold;
					}
				}
			}

			.courses_list,
			.specializations_list {
				@apply lg:grid-cols-3;
			}
		}
	}
}

.Lessons {
	.lessons_aside {
		.header {
			@apply flex gap-1;
		}
	}
}

section.Lessons {
	@apply py-1 md:py-1 px-2;

	.lessons_container {
		@apply flex gap-4 min-h-screen;

		.lessons_aside {
			@apply w-1/5 border-r border-gray-300 sticky top-[10dvh] self-start;

			.links {
				@apply grid;
			}
		}

		.lessons_contents {
			@apply w-4/5;
		}
	}

	.section_content {
		color: white;
	}
}

