* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: sans-serif, Roboto, 'Open Sans', 'Helvetica Neue';
}

body {
    background: $theme-1;
    color: $theme-4;
}

.container {
    padding: 10px 5%;
}