.Course {
    ul,
    ol {
        list-style-position: inside;
    }

    .courses_wrapper {
        @include grid(4);
        gap: 2em;

        .course {
            a {
                .thumbnail {
                    height: 200px;

                    img {
                        border-radius: 8px;
                    }
                }
            }

            .text {
                text-align: center;
            }
        }
    }

    .section_content {
        h1 {
            font-size: 1.25em;
            color: $theme-4;
            border-bottom: 1px solid $greyed;
            padding: 4px 0;
            margin: 0 0 0.3em;
            text-align: center;
        }

        h2,
        h3 {
            margin: 0.8em 0 0.2em;
            color: $theme-4;
        }

        h2 {
            font-size: 1.1em;
            text-align: center;
        }

        h3 {
            font-size: 1em;
        }

        pre {
            background: $theme-2;
            padding: 8px;
            border-radius: 8px;
            margin: 0.3em 0;
        }

        p {
            line-height: 1.3;
        }

        p.command {
            border-left: 4px solid $theme-3;
            padding: 2px 4px;
            margin: 0.4em 0.5em;
        }

        .path {
            color: $path_color;
        }
    }

    .course_contents {
        $aside_width: 15%;

        aside {
            width: $aside_width;
            border-right: 1px solid rgb(73, 73, 73);

            .links {
                display: grid;
            }
        }

        .contents {
            margin-left: calc($aside_width + 0.3em);
            margin-right: 0.3em;

            .section_content {
                border: 1px solid grey;
                padding: 8px;
                border-radius: 8px;
                margin: 0 0 1em;
            }
        }
    }
}

.Admin {
    .Course {
        .body {
            ul {
                list-style: none;

                li {
                    display: grid;
                    grid-template-columns: 50px auto 150px;

                    .actions {
                        text-align: center;
                    }
                }

                hr {
                    border: 1px solid $greyed;
                }
            }
        }

        .custom_form {
            .ck-editor {
                color: $theme-1;
            }
        }
    }
}