@import "./tailwind-utilities.css";

:root {
    --theme_bg: #222831;
    --theme_text: #fff;
    --theme_text-faded: #d1d5dc;
}

body {
    @apply bg-[#222831] text-white ;

    .image,
    img {
        @apply rounded-lg;
    }

    img {
        @apply w-full h-full object-cover;
    }

    .ckedited_content,
    .ck-editor .ck-content,
    .section_content {
        @apply border border-gray-300 px-4 pb-4 rounded-lg mb-12;

		h1 {
			@apply text-xl text-center font-bold border-b-1 border-gray-300 py-4 mb-4;
		}

		h2 {
			@apply text-xl font-semibold py-4 mb-2;
		}

		h3 {
			@apply text-xl font-semibold py-4 mb-2;
		}

		pre {
			@apply bg-gray-700 text-white p-4 rounded-lg my-2 overflow-x-auto;
			white-space: pre-wrap;
			word-wrap: break-word;

			code {
				white-space: pre-wrap;
				word-wrap: break-word;
			}
		}

		p {
			line-height: 1.5;
		}

		p.command {
			@apply border-l-4 border-green-400 px-2 py-1 my-2 bg-gray-200 text-white;
		}

		.path {
			@apply text-gray-300;
		}

		table {
			@apply w-full border border-gray-300 text-sm;

			tr,
			td {
				@apply border border-gray-300 px-2 py-1;
			}

			tr {
				&:first-of-type {
					@apply font-bold;
				}
			}

			td {
				@apply py-2;
			}
		}
    }
}

.breadcrumbs {
    @apply flex items-center text-sm text-gray-600;

    a {
        @apply font-bold hover:font-semibold relative text-blue-300;

        &::after {
            content: '/';
            @apply mx-2 text-[var(--theme_text-faded)];
        }
    }

    span {
        &:not(:last-of-type) {
            &::after {
                content: '/';
                @apply mx-2 text-[var(--theme_text-faded)];
            }
        }

        @apply text-[var(--theme_text-faded)];
    }
}

@import "./components/buttons.css";
@import "./components/cards.css";
@import "./components/forms.css";
@import "./components/tables.css";
